<footer class="green">
    <div class="row footer-links">
        <div class="col-md-12 d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/derekharmann/"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://github.com/harmannd"><i class="fab fa-github fa-2x"></i></a>
            <a href="http://derekharmann.com"><i class="fas fa-link fa-2x"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 copyright">
            © 2018 Copyright: Derek Harmann
        </div>
    </div>
</footer>