{% extends "bookstore_api/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Search</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Limit</h1>
        <h3>File Type</h3>
        <ul>
            {% for c,t in FILE_TYPES %}
                <li>{{ t }}</li>
            {% endfor %}
        </ul>
        <h3>Language</h3>
        <ul>
            {% for c,t in LANGUAGES %}
                <li>{{ t }}</li>
            {% endfor %}
        </ul>
        <h3>Publish Date</h3>
    </div>
    <div class="col-md-8">
        <h1>Results</h1>
        <ul>
            {% for book in books %}
                <li>{{ book }}</li>
            {% endfor %}
        </ul>
        <h4>load more results?</h4>
    </div>
</div>
{% endblock %}