{% extends "bookstore_api/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form id="search" action="/bookstore/" method="post">
            {% csrf_token %}
            {{ search_form }}
            <input type="submit" value="Submit" name="btn-search">
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form id="filter" action="/bookstore/" method="post">
            {% csrf_token %}
            {{ filter_form }}
            <input type="submit" value="Filter" name="btn-filter">
        </form>
    </div>
    {% include "bookstore_api/results.html" %}
</div>
{% endblock %}