/**
 * Base
 */
body {
    width: 100%;
    margin: auto;
    background-color: #edd9c0;
    color: white;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
ul {
    list-style: none;
    padding-left: 20px;
}
#grey-text {
    color: grey;
    font-size: 13px;
}


/**
 * Navbar
 */
.navbar-brand, .nav-link {
    color: white;
}
.navbar {
    background-color: #c9d8c5;
}
#nav-image {
    background: url(../images/bookshelf.jpg) center top;
    size: cover;
    width: 100%;
    height: 200px;
}

/**
 * Search
 */
#search {
    background-color: #7d4627;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
}

/**
 * Filter
 */
.section-filter {
    background-color: #a8b6bf;
    padding-left: 20px;
}
#filter > label {
    font-size: 20px;
}

/**
 * Results
 */
.link {
    color: #7d4627;
}
#results-title {
    font-size: 20px;
    text-decoration: none;
}
