/**
 * Base
 */
body {
    width: 100%;
    margin: auto;
    color: white;
    font-family: Palatino;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.row {
    margin-right: 0px;
}
ul {
    list-style: none;
    padding-left: 20px;
}
#grey-text {
    color: grey;
    font-size: 13px;
}
a, input[type='submit'] {
    transition: all 0.1s;
}
a:hover {
    color: #a8b6bf;
}
input[type='submit']:hover {
    background-color: #c9d8c5;
}
.grey {
    background-color: #a8b6bf;
}
.brown {
    background-color: #7d4627;
}
.tan {
    background-color: #edd9c0;
}
.green {
    background-color: #c9d8c5;
}

/**
 * Navbar
 */
.navbar-brand {
    font-size: 30px;
}
.navbar-brand, .nav-link {
    color: white;
}
.nav-link {
    font-size: 20px;
}
#nav-image {
    background: url(../images/bookshelf.jpg) center top;
    size: cover;
    width: 100%;
    height: 200px;
}

/**
 * Search
 */
#search {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

/**
 * Filter
 */
.form-filter {
    padding-left: 20px;
    padding-bottom: 10px;
}
#filter > label {
    font-size: 20px;
}
.filter-button {
    background-color: white;
    border-radius: 5px;
    width: 100px;
    height: 40px;
}

/**
 * Results
 */
.link {
    color: #7d4627;
}
#results-title {
    font-size: 20px;
    text-decoration: none;
}

/**
 * Details
 */
.details {
    margin-left: 0px;
    color: #7d4627;
}
.details-result {
    padding-top: 10px;
    padding-bottom: 30px;
}

/**
 * Footer
 */
footer {
    color: black;
}
.footer-links {
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-links a {
    padding-right: 5px;
    padding-left: 5px;
}
.copyright {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #a0ac9d;
}